.about {
    background-color: rgb(17, 57, 83);
    height: 100vh;
    color: white;
    display: flex;

    .header{
        margin-left: 50px;
        padding-top: 50px;
        font-weight: 700;
        color:burlywood;
    }

    .description {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 20px;
        font-weight: 300;
        color: lightgrey;
    }
    .desc2 {
        margin-left: 50px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        color: lightgrey;
        width: 400px;
        line-height: 29px;
    }

    .education {
        .card {
            width: 600px;
            height: 100px;
            background-color: white;
            margin-left: 50px;
            margin-top: 30px;
            border-radius: 15px;
            align-items: center;
            display: flex;
            color: black;

            .icon {
                color: black;
                font-size: 32px;
                margin-left: 15px;
            }

            .education-right {
                margin-left: 20px;

                .uni-year {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                .uni {
                    margin-bottom: 5px;
                }
            }
        }
    }
}