.about {
    background-color: #232741;
    height: 100vh;
    color: white;
    display: flex
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;


    .header{
        
    }
}